//variables

$fuenteprincipal: 'New Rocker', cursive;
$color-shadow: #82AAFB;
$box-shadow: 0px 0px 11px 9px rgba(0,0,0,0.9);



@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Caveat&family=Lexend+Tera&family=Major+Mono+Display&family=New+Rocker&display=swap');

*{
    margin: 0;
    padding: 0;
    
 }

:root{
    --Fuente1: 'Caveat', cursive;
    --Fuente2: 'New Rocker', cursive;
    --Fuente3: 'Major Mono Display', monospace;
    --Fuente4: 'Bungee', cursive;
    --Fuente5: 'Lexend Tera', sans-serif;
    
}


body{
    
    background-image: url(img/tormenta4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    
}



#contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);

    grid-template-areas: 
    "toptext"
    "header"
    "menu"
    "main"
    "footer"
    
    ;
}

#toptext{
    grid-area: toptext;

}

#header{
    grid-area: header;

}

#menu{
    grid-area: menu;

}

#main{
    grid-area: main;
    margin-top: 6%;
}

#footer{
    grid-area: footer;

}


/*scrollbar*/
body::-webkit-scrollbar {
    width: 8px; 
    height: 8px;              
  }
  
  body::-webkit-scrollbar-track {
      border-radius: 1000px;       
      background: $color-shadow;
  }
  
  body::-webkit-scrollbar-thumb {
      background-color: black;
      border-radius: 20px;
      border: 2px solid $color-shadow;
  }