//variables

$fuenteprincipal: 'New Rocker', cursive;
$fuentesecundaria: 'Bungee', cursive;  
$color-shadow: #1A9D00;
$box-shadow: 0px 0px 11px 9px rgba(0,0,0,0.9);



@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Caveat&family=Lexend+Tera&family=Major+Mono+Display&family=New+Rocker&display=swap');

*{
    margin: 0;
    padding: 0;
    
 }

:root {
    --Fuente1: 'Caveat', cursive;
    --Fuente2: 'New Rocker', cursive;
    --Fuente3: 'Major Mono Display', monospace;
    --Fuente4: 'Bungee', cursive;
    --Fuente5: 'Lexend Tera', sans-serif;
    
}


body {
    position: relative;
    margin: 0;
    
    
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
    
}


#contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);

    grid-template-areas: 
    "toptext"
    "header"
    "menu"
    "main"
    "footer"
    
    ;
}

#toptext{
    grid-area: toptext;

}

#header{
    grid-area: header;

}

#menu{
    grid-area: menu;

}

#main{
    grid-area: main;
    margin-top: 6%;
}

#footer{
    grid-area: footer;

}


/*scrollbar*/
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track {
    background: grey;
}

body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 2px solid gray;
}