/*toptext*/

.texto__movimiento{
    width: 100%;
    height: 100%;
    font-family: $fuenteprincipal;
    color: black; 
    font-size: 20px;
    letter-spacing: 0.08em;
    padding-top: 1.2vh;
    
}

/*fin toptext*/